In [1]:
import requests
import tarfile
from os import path

In [2]:
# Downloading the dataset
'''
fname = 'airline_2m.tar.gz'
url = 'https://dax-cdn.cdn.appdomain.cloud/dax-airline/1.0.1/' + fname
r = requests.get(url)
open(fname , 'wb').write(r.content)
'''

"\nfname = 'airline_2m.tar.gz'\nurl = 'https://dax-cdn.cdn.appdomain.cloud/dax-airline/1.0.1/' + fname\nr = requests.get(url)\nopen(fname , 'wb').write(r.content)\n"

In [3]:
# Extracting the dataset
'''tar = tarfile.open(fname)
tar.extractall()
tar.close()
'''

'tar = tarfile.open(fname)\ntar.extractall()\ntar.close()\n'

In [2]:
# Verifying the file was extracted properly
data_path = "airline_2m.csv"
path.exists(data_path)

True

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(data_path, encoding = "ISO-8859-1",
                 dtype={'Div1Airport': str, 'Div1TailNum': str, 'Div2Airport': str, 'Div2TailNum': str})

In [7]:
df.shape

(2000000, 109)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Columns: 109 entries, Year to Div5TailNum
dtypes: float64(72), int64(18), object(19)
memory usage: 1.6+ GB

In [9]:
df1=pd.DataFrame()
df1['Unique']=pd.DataFrame(df.nunique())
df1['Count']=pd.DataFrame(df.count())
df1=df1.rename(columns={0: 'Unique'})
df1.reset_index()
df1

                  Unique    Count
Year                  34  2000000
Quarter                4  2000000
Month                 12  2000000
DayofMonth            31  2000000
DayOfWeek              7  2000000
...                  ...      ...
Div5WheelsOn           0        0
Div5TotalGTime         0        0
Div5LongestGTime       0        0
Div5WheelsOff          0        0
Div5TailNum            0        0

[109 rows x 2 columns]

In [56]:
#df1.to_csv('cases.csv')

In [3]:
df1=pd.read_csv('cases.csv')
df1

                             Column  Unique    Count  Categorical?  Needed?
0                              Year      34  2000000           1.0      1.0
1                           Quarter       4  2000000           1.0      1.0
2                             Month      12  2000000           1.0      1.0
3                        DayofMonth      31  2000000           1.0      1.0
4                         DayOfWeek       7  2000000           1.0      1.0
5          DOT_ID_Reporting_Airline      34  2000000           1.0      1.0
6   Flight_Number_Reporting_Airline    8050  2000000           1.0      1.0
7                   OriginAirportID     407  2000000           1.0      1.0
8                       OriginState      53  1999354           1.0      1.0
9                     DestAirportID     409  2000000           1.0      1.0
10                        DestState      53  1999406           1.0      1.0
11                          DepTime    1436  1963995           NaN      NaN
12                        Cancelled       2  2000000           1.0      NaN

In [4]:
featurecols= pd.Series(df1['Column'])
featurecols

0                                Year
1                             Quarter
2                               Month
3                          DayofMonth
4                           DayOfWeek
5            DOT_ID_Reporting_Airline
6     Flight_Number_Reporting_Airline
7                     OriginAirportID
8                         OriginState
9                       DestAirportID
10                          DestState
11                            DepTime
12                          Cancelled
Name: Column, dtype: object

In [4]:
featurecols= ['Year','Quarter',
'Month','DayofMonth','DayOfWeek','DOT_ID_Reporting_Airline','Flight_Number_Reporting_Airline',
'OriginAirportID','OriginState','DestAirportID','DestState','DepTime','Cancelled']
featurecols

['Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DOT_ID_Reporting_Airline',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginState',
 'DestAirportID',
 'DestState',
 'DepTime',
 'Cancelled']

In [6]:
featuredata=df[featurecols]
featuredata.to_csv('featuredata.csv',index=False)

In [5]:
featuredata=pd.read_csv('featuredata.csv')
featuredata

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginState,DestAirportID,DestState,DepTime,Cancelled
0,1998,1,1,2,5,19386,675,13487,MN,14869,UT,1659.0,0.0
1,2009,2,5,28,4,20437,671,13342,WI,13204,FL,1202.0,0.0
2,2013,2,6,29,6,20398,3297,11921,CO,11298,TX,1644.0,0.0
3,2010,3,8,31,2,19790,1806,12892,CA,11433,MI,1305.0,0.0
4,2006,1,1,15,7,20355,465,11618,NJ,11057,NC,1911.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,2008,1,3,23,7,19393,966,12889,NV,14107,AZ,1444.0,0.0
1999996,1999,1,1,5,2,19704,529,11618,NJ,11298,TX,945.0,0.0
1999997,2003,4,11,14,5,20355,1457,10994,SC,11057,NC,1219.0,0.0
1999998,2012,2,5,15,2,19393,536,13232,IL,10693,TN,1838.0,0.0
1999999,2003,2,4,29,2,19977,1241,12264,VA,13930,IL,1610.0,0.0

In [6]:
target_name = "Cancelled"
target = featuredata[target_name]

data = featuredata.drop(columns=[target_name])

In [7]:
target.value_counts()

0.0    1963538
1.0      36462
Name: Cancelled, dtype: int64

In [9]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(data)
encoded_data

<2000000x10533 sparse matrix of type '<class 'numpy.float64'>'
	with 24000000 stored elements in Compressed Sparse Row format>

In [8]:
from sklearn.dummy import DummyClassifier
dummy_clf = DummyClassifier(strategy="most_frequent")
dummy_clf.fit(data, target)
dummy_clf.predict(data)
dummy_clf.score(data, target)

0.981769

In [10]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression

logistic_regression = make_pipeline(
    OneHotEncoder(handle_unknown = 'ignore'), LogisticRegression()
)


from sklearn.model_selection import cross_validate
cv_results = cross_validate(
    logistic_regression, data, target, cv=10,return_estimator=True)

cv_results

C:\Users\ianmo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ianmo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ianmo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ianmo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

{'fit_time': array([28.27259564, 26.23114657, 27.34582686, 26.5112834 , 30.94209528,
        30.74092197, 28.64060044, 26.54478645, 26.90173197, 27.51094055]),
 'score_time': array([0.36379695, 0.34371567, 0.387115  , 0.39059663, 0.53008986,
        0.36796784, 0.43131137, 0.3437438 , 0.38505864, 0.39057875]),
 'estimator': [Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())]),
  Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                  ('logisticregression', LogisticRegression())])],
 'test_score': array([0.999785, 0.99977 , 0.99976 , 0.99981 , 0.99981 , 0.99978 ,
        0.99977 , 0.99969 , 0.999795, 0.999745])}

In [11]:
array=cv_results["test_score"]
array.mean()

0.9997715000000001