<a href="https://colab.research.google.com/github/iannjari/scrapbook/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
import pandas as pd
path='https://raw.githubusercontent.com/iannjari/datasets/main/diabetes.csv'
df=pd.read_csv('heart.csv')
df

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40   M           ATA  ...      0.0        Up             0
1     49   F           NAP  ...      1.0      Flat             1
2     37   M           ATA  ...      0.0        Up             0
3     48   F           ASY  ...      1.5      Flat             1
4     54   M           NAP  ...      0.0        Up             0
..   ...  ..           ...  ...      ...       ...           ...
913   45   M            TA  ...      1.2      Flat             1
914   68   M           ASY  ...      3.4      Flat             1
915   57   M           ASY  ...      1.2      Flat             1
916   57   F           ATA  ...      0.0      Flat             1
917   38   M           NAP  ...      0.0        Up             0

[918 rows x 12 columns]

In [98]:
target_name='HeartDisease'
target=df[target_name]
data=df.drop(columns=target_name)
x,y=data,target

In [99]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

numeric_features = ["Age", "RestingBP",'Cholesterol','MaxHR','Oldpeak']
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="most_frequent")), ("scaler", StandardScaler())]
)

categorical_features = ["Sex", "ChestPainType", "FastingBS",'RestingECG','ExerciseAngina','ST_Slope']
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression())]
)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

clf.fit(x_train, y_train)
print("model score: %.3f" % clf.score(x_test, y_test))

model score: 0.826

In [100]:
!pip install skl2onnx

Requirement already satisfied: skl2onnx in /usr/local/lib/python3.7/dist-packages (1.10.2)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from skl2onnx) (3.17.3)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from skl2onnx) (1.4.1)
Requirement already satisfied: onnx>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from skl2onnx) (1.10.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from skl2onnx) (1.19.5)
Requirement already satisfied: onnxconverter-common>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from skl2onnx) (1.8.1)
Requirement already satisfied: scikit-learn>=0.19 in /usr/local/lib/python3.7/dist-packages (from skl2onnx) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from onnx>=1.2.1->skl2onnx) (1.15.0)
Requirement already satisfied: typing-extensions>=3.6.2.1 in /usr/local/lib/python3.7/dist-packages (from onnx>=1.2.1->skl2onnx) (3.10.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.19->skl2onnx) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.19->skl2onnx) (1.1.0)

In [101]:
import skl2onnx 
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType



initial_types =  [('feature_input', FloatTensorType([None, 8]))]

onx =skl2onnx.to_onnx(clf,X=x_test)

with open("reg.onnx", "wb") as f:
    f.write(onx.SerializeToString())

In [102]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import (RandomForestClassifier, StackingClassifier, GradientBoostingClassifier)
from sklearn.neighbors import KNeighborsClassifier

In [103]:
clf=StackingClassifier(estimators=[
            ("rf",RandomForestClassifier(n_estimators=10,random_state=42)),
            ("gb",GradientBoostingClassifier(n_estimators=10,random_state=42)),
            ("knn",KNeighborsClassifier(n_neighbors=5))],final_estimator=LogisticRegression())

In [104]:


numeric_features = ["Age", "RestingBP",'Cholesterol','MaxHR','Oldpeak']
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="most_frequent")), ("scaler", StandardScaler())]
)

categorical_features = ["Sex", "ChestPainType", "FastingBS",'RestingECG','ExerciseAngina','ST_Slope']
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.

from sklearn.pipeline import make_pipeline
pipeline = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", clf)]
)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

pipeline.fit(x_train, y_train)
print("model score: %.3f" % pipeline.score(x_test, y_test))

model score: 0.848

In [105]:
import skl2onnx 
from skl2onnx import convert_sklearn




initial_types =  [('feature_input', FloatTensorType([None, 8]))]

onx =skl2onnx.to_onnx(pipeline,X=x_test)

with open("stack.onnx", "wb") as f:
    f.write(onx.SerializeToString())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:103: FutureWarning: The attribute `n_features_` is deprecated in 1.0 and will be removed in 1.2. Use `n_features_in_` instead.
  warnings.warn(msg, category=FutureWarning)

In [106]:
#from skl2onnx.common.data_types import FloatTensorType, StringTensorType, Int64TensorType

'''initial_types =  [('feature_input', Int64TensorType([None, 1])),
                  ('feature_input', StringTensorType([None, 2])),
                  ('feature_input', Int64TensorType([None, 3])),
                  ('feature_input', StringTensorType([None, 1])),
                  ('feature_input', Int64TensorType([None, 1])),
                  ('feature_input', StringTensorType([None, 1])),
                  ('feature_input', FloatTensorType([None, 1])),
                  ('feature_input', StringTensorType([None, 1]))]
'''

# Not allowed by onnx when a ColumnTransformer is used, so won't work
# See http://onnx.ai/sklearn-onnx/_modules/skl2onnx/convert.html for more

#onx = convert_sklearn(pipeline,initial_types=initial_types)

#with open("stacked_clf.onnx", "wb") as f:
#    f.write(onx.SerializeToString())

"initial_types =  [('feature_input', Int64TensorType([None, 1])),\n                  ('feature_input', StringTensorType([None, 2])),\n                  ('feature_input', Int64TensorType([None, 3])),\n                  ('feature_input', StringTensorType([None, 1])),\n                  ('feature_input', Int64TensorType([None, 1])),\n                  ('feature_input', StringTensorType([None, 1])),\n                  ('feature_input', FloatTensorType([None, 1])),\n                  ('feature_input', StringTensorType([None, 1]))]\n"

In [107]:
!pip install onnxruntime

Requirement already satisfied: onnxruntime in /usr/local/lib/python3.7/dist-packages (1.9.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from onnxruntime) (3.17.3)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from onnxruntime) (1.19.5)
Requirement already satisfied: flatbuffers in /usr/local/lib/python3.7/dist-packages (from onnxruntime) (2.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf->onnxruntime) (1.15.0)

In [108]:
def convert_dataframe_schema(df, drop=None):
    inputs = []
    for k, v in zip(df.columns, df.dtypes):
        if drop is not None and k in drop:
            continue
        if v == 'int64':
            t = Int64TensorType([None, 1])
        elif v == 'float64':
            t = FloatTensorType([None, 1])
        else:
            t = StringTensorType([None, 1])
        inputs.append((k, t))
    return inputs


inputs = convert_dataframe_schema(x_train)

for i in inputs:
  print(i)

('Age', Int64TensorType(shape=[None, 1]))
('Sex', StringTensorType(shape=[None, 1]))
('ChestPainType', StringTensorType(shape=[None, 1]))
('RestingBP', Int64TensorType(shape=[None, 1]))
('Cholesterol', Int64TensorType(shape=[None, 1]))
('FastingBS', Int64TensorType(shape=[None, 1]))
('RestingECG', StringTensorType(shape=[None, 1]))
('MaxHR', Int64TensorType(shape=[None, 1]))
('ExerciseAngina', StringTensorType(shape=[None, 1]))
('Oldpeak', FloatTensorType(shape=[None, 1]))
('ST_Slope', StringTensorType(shape=[None, 1]))

In [109]:
x_test

     Age Sex ChestPainType  RestingBP  ...  MaxHR  ExerciseAngina Oldpeak  ST_Slope
306   55   M           ASY        115  ...    155               N     0.1      Flat
711   66   M           ASY        120  ...    151               N     0.4      Flat
298   51   M           ASY        110  ...     92               N     0.0      Flat
466   55   M           NAP        120  ...    125               Y     2.5      Flat
253   62   M           ATA        140  ...    152               N     1.0        Up
..   ...  ..           ...        ...  ...    ...             ...     ...       ...
909   63   F           ASY        124  ...    136               Y     0.0      Flat
293   65   M           ASY        115  ...     93               Y     0.0      Flat
761   52   M           ASY        112  ...    160               N     0.0        Up
2     37   M           ATA        130  ...     98               N     0.0        Up
409   53   M           NAP        160  ...    122               Y     0.0      Flat

[184 rows x 11 columns]